<mat-card class="card-container">
    <div class="container main-content">
        <mat-card-title>
            <img src="../../assets/images/logo.png" class="logo" >
         </mat-card-title>
         <mat-card-subtitle>
             <!-- <p>Countdown-component!</p> -->
         </mat-card-subtitle>
         <div class="heading">
                <h1>
                    A REVOLUTION IS COMING!
                </h1>
         </div>
         <div class="message-box">
            <P>
                We're bringing a brand new way of collaborative online learning.
                Our mission is to enable educators and students across the globe to
                have access to new age knowledge-sharing and networking.
            </P>
         </div>
         <div class="notify-form">
            <form #f="ngForm" (ngSubmit)="formData(f)">
                <div class="form-group">
                    <div style="display: flex;">
                        <div class="col-5">                       
                            <input ngModel name="username" type="text" class="form-control custom-input" id="username" placeholder="Name">
                        </div>
                        <div class="col-5">                       
                            <input ngModel name="phone" type="text" class="form-control custom-input" id="phone" placeholder="Phone No.">
                        </div>
                    </div>
                    <div>
                        <div class="col-10">                       
                            <input ngModel name="email" #email="ngModel"  type="text" class="form-control custom-input" id="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-12" style="display: flex;">
                        <p>I am a</p>
                        <mat-radio-group ngModel name="userType" aria-label="Select an option">
                            <mat-radio-button value="student">Student</mat-radio-button>
                            <mat-radio-button value="educator">Educator</mat-radio-button>
                            <mat-radio-button value="institution">Institution</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col">
                  <button mat-button class="notify-button" (click)="openDialog()">Notify Me</button>
                </div>
            </form>   
        </div>
    </div>
    <div class="header-image-container">
        <img src="../../assets/images/header-image.png" class="header-image">
    </div>
</mat-card>