<mat-card class="card-container">
    <div class="row row-cols-md-2 d-lg-flex d-block px-3">
        <div class="main-content">
            <div class="logo-container">
                <img src="../../assets/images/logo.png" class="logo" >
            </div>
            <div class="counter-container">
                <div class="counter-div ml-3">
                   <p class="counter-text" >{{counterDetails.days}}</p>
                   <p class="counter-header">DAYS</p>
                </div>
                <div class="counter-div ml-3">
                   <p class="counter-text">{{counterDetails.hoursLeft}}</p>
                   <p class="counter-header">HOURS</p>
                </div>
                <div class="counter-div ml-3">
                   <p class="counter-text">{{counterDetails.minutesLeft}}</p>
                   <p class="counter-header">MINUTES</p>
                </div>
                <div class="counter-div ml-3">
                   <p class="counter-text">{{counterDetails.secondsLeft}}</p>
                   <p class="counter-header">SECONDS</p>
                </div>
            </div>
            <div class="sub-heading-container mt-3 mb-n1">
                <p>Launching this Teacher's Day, September 05, 2020</p>
            </div>
             <div class="heading-container">
                    <h1 class="heading">
                        A REVOLUTION IS COMING!
                    </h1>
             </div>
             <div class="message-box">
                <P class="text-justify">
                    We're bringing a brand new way of collaborative online learning.
                    Our mission is to enable educators and students across the globe to
                    have access to new age knowledge-sharing and networking.
                </P>
                <p style="color: #f37021 ; font-weight: 400;">Stay updated</p>
             </div>
             <div class="notify-form container-fluid">
                <form #f="ngForm" (ngSubmit)="formData(f); f.resetForm()">
                    <div class="form-group">
                        <div class="row d-block d-lg-flex custom-input-container">
                            <div class="col  custom-input-field-container d-flex">                       
                                <input [class.error-outline]="!name.valid && name.touched" required ngModel name="username" #name="ngModel" (change)="log(name);" type="text" class="form-control custom-input" id="username" placeholder="Name">
                                <span style="color: red; font-size: large;">*</span>
                            </div>
                            <span class="col-1"></span>
                            <div class="col  custom-input-field-container d-flex">                       
                                <input required ngModel name="phone" #phone="ngModel" type="text" class="form-control custom-input" id="phone" placeholder="Phone No.">
                                <span style="font-size:large;">*</span>
                            </div>
                        </div>
                        <div class="mt-2 row custom-input-container">
                            <div class="col custom-input-field-container d-flex">                       
                                <input required [class.error-outline]="!email.valid && email.touched" ngModel name="email" #email="ngModel" type="text" class="form-control custom-input" id="email" placeholder="Email">
                                <span style="color: red; font-size: large;">*</span>
                            </div>
                        </div>
                        
                        <div class=" row mt-3">
                            <p>I am a</p>
                            <mat-radio-group ngModel name="userType" aria-label="Select an option" class="d-flex">
                                <mat-radio-button value="student">Student</mat-radio-button>
                                <mat-radio-button value="educator">Educator</mat-radio-button>
                                <mat-radio-button value="institution">Institution</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="ml-n4">
                      <button mat-button class="notify-button" (click)="openDialog()" [disabled]="!f.valid">Notify Me</button>
                    </div>
                </form>   
            </div>
        </div>
        <div class="header-image-container">
            <img src="../../assets/images/header-image.png" class="header-image">
        </div>
    </div>
</mat-card>