.custom-container{
    height: 100vh;
}
.blog-button{
 border: 2px solid rgb(243,114,1);
 border-radius: 50px;
 outline: none;
 color: rgb(243,114,1);
 width: 6vw;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.full-height {
    height: 100vh;
}
.button-align {
    flex: 1 1 auto;
}
.fixed-nav{
    position: fixed;
    background: rgba(0,0,0,0);
}
