/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; background: url('./assets/images/background.png') no-repeat; background-size: contain; }

.custom-modal .mat-dialog-content{
    height: 5vh;
}
.custom-modal{
    height: 20vh;
    text-align: center;
}
*{
    font-family: 'Montserrat' !important;
}